<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Classificação</th>
                    <th scope="col">Nome</th>
                    <th scope="col">P</th>
                    <th scope="col">J</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="col">D</th>
                    <th scope="col">GP</th>
                    <th scope="col">GC</th>
                    <th scope="col">Aproveitamento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let linhaTabela of tabela">
                    <td>{{linhaTabela.posicao}}</td>
                    <td>{{linhaTabela.nome}}</td>
                    <td>{{linhaTabela.pontos}}</td>
                    <td>{{linhaTabela.quantJogos}}</td>
                    <td>{{linhaTabela.quantVitorias}}</td>
                    <td>{{linhaTabela.quantEmpates}}</td>
                    <td>{{linhaTabela.quantDerrotas}}</td>
                    <td>{{linhaTabela.golsPro}}</td>
                    <td>{{linhaTabela.golsContra}}</td>
                    <td>{{linhaTabela.aproveitamento}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>